<?xml version='1.0' encoding='utf-8'?>
<plugin id="square-reader-plugin" version="0.0.1"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>squareReaderAndroid</name>
	<js-module name="SquareReaderAndroid" src="www/squareReaderAndroid.js">
		<clobbers target="cordova.plugins.squareReaderAndroid" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="SquareReaderAndroid">
				<param name="android-package" value="com.om.squareReaderAndroid.SquareReaderAndroid" />
                <param name="onload" value="true" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"></config-file>
		<source-file src="src/android/SquareReaderAndroid.java" target-dir="src/com/om/squareReaderAndroid" />
        <source-file src="src/android/SquareReaderApplication.java" target-dir="src/com/om/squareReaderAndroid" />
        <hook type="after_plugin_install" src="scripts/android/add_application_name.js" />
	</platform>
</plugin>